@page
@model Belts.Pages.BaileyBeltModel
@{
    ViewData["Title"] = "Bailey Belts";
}
<style>
    
    th {
        padding: 10px;
        text-align:center
    }
    button{
        margin:5px
    }
    .centered{
        text-align:center;
    }
    .table-bordered {
        margin: 10px
    }
</style>
<div>
    <h3>@Model.MineName Belts</h3>
    <h5>@Model.CurrentDateTime</h5>
</div>
<table>
        <tr>
            <td valign="top">
                <div>
                    <table id="CM" class="table-bordered">
                        <tr>
                            <th>@Model.BeltTableHeadings[0]</th>
                            <th>@Model.BeltTableHeadings[1]</th>
                            <th>@Model.BeltTableHeadings[2]</th>
                            <th>@Model.BeltTableHeadings[3]</th>
                            <th>@Model.BeltTableHeadings[4]</th>
                            <th>@Model.BeltTableHeadings[5]</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>@Model.FirstCMBelt.Name</td>
                            <td class="centered">@Model.FirstCMBelt.Type</td>
                            <td class="centered">@Model.FirstCMBelt.Status</td>
                            <td class="centered">@Model.FirstCMBelt.TimeOn</td>
                            <td class="centered">@Model.FirstCMBelt.TimeOff</td>
                            <td class="centered">@Model.FirstCMBelt.Uncertain</td>
                            <td class="centered">On</td>
                            <td class="centered">Off</td>
                        </tr>
                    </table>
                    <table id="LW" class="table-bordered">
                        <tr>
                            <th>@Model.BeltTableHeadings[0]</th>
                            <th>@Model.BeltTableHeadings[1]</th>
                            <th>@Model.BeltTableHeadings[2]</th>
                            <th>@Model.BeltTableHeadings[3]</th>
                            <th>@Model.BeltTableHeadings[4]</th>
                            <th>@Model.BeltTableHeadings[5]</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>@Model.FirstLWBelt.Name</td>
                            <td class="centered">@Model.FirstLWBelt.Type</td>
                            <td class="centered">@Model.FirstLWBelt.Status</td>
                            <td class="centered">@Model.FirstLWBelt.TimeOn</td>
                            <td class="centered">@Model.FirstLWBelt.TimeOff</td>
                            <td class="centered">@Model.FirstLWBelt.Uncertain</td>
                            <td class="centered">On</td>
                            <td class="centered">Off</td>
                        </tr>
                    </table>
                    
                    <div id="Button Group 1">
                        <button>Previous Day</button>
                        <button>Log</button>
                    </div>
                    <div id="Button Group 2">
                        <button>Mine Map</button>
                        <button>Raw Coal Silos</button>
                    </div>
                    <div>
                        <p style="margin-top:25px">
                            Outby System Availabilty
                        </p>
                        <p>From: @Model.RecentMonday thru @Model.CurrentDateTime </p>
                        <table class="table-bordered">
                            <tr>
                                <th>@Model.AvailTableHeadings[0]</th>
                                <th>@Model.AvailTableHeadings[1]</th>
                                <th>@Model.AvailTableHeadings[2]</th>
                                <th>@Model.AvailTableHeadings[3]</th>
                                <th>@Model.AvailTableHeadings[4]</th>
                                <th>@Model.AvailTableHeadings[5]</th>
                                <th>@Model.AvailTableHeadings[6]</th>
                            </tr>
                            <tr>
                                <td>@Model.FirstBeltAvail.Name</td>
                                <td class="centered">@Model.FirstBeltAvail.TimeOff</td>
                                <td class="centered">@Model.FirstBeltAvail.TimeOn</td>
                                <td class="centered">@Model.FirstBeltAvail.Uncertain</td>
                                <td class="centered">@Model.FirstBeltAvail.Availability</td>
                                <td class="centered">@Model.FirstBeltAvail.MaxAvailability</td>
                                <td class="centered">@Model.FirstBeltAvail.MinAvailability</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td valign="top">
                <table class="table-bordered">
                    <tr>
                        <th>@Model.BeltTableHeadings[0]</th>
                        <th>@Model.BeltTableHeadings[1]</th>
                        <th>@Model.BeltTableHeadings[2]</th>
                        <th>@Model.BeltTableHeadings[3]</th>
                        <th>@Model.BeltTableHeadings[4]</th>
                        <th>@Model.BeltTableHeadings[5]</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td class="centered">68:01</td>
                        <td class="centered">20:30</td>
                        <td class="centered">6:04</td>
                        <td class="centered">76.8%</td>
                        <td class="centered">76.9%</td>
                        <td class="centered">76.8%</td>
                    </tr>
                </table>
            </td>
        </tr>
</table>